<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </head>
  <body>
    <div class="container-fluid" style="margin-top: +20px">


      <div class="bd-example-row">
      <div class="bd-example">
      <div class="container">
        

          <div class="row">
            <button id="open_form" type="button" class="btn btn-outline-primary" style="margin-bottom: +10px">
              Add User
            </button>
          </div>
          <div class="row" style="margin-bottom: +20px">          
            <button id="step_up" type="button" class="btn btn-outline-primary data__" style="display:none;margin-right:15px;margin-bottom: +10px">
              START
            </button>
            
            <button id="step_down" type="button" class="btn btn-outline-danger data__" style="display:none; margin-bottom: +10px">
              FINISH
            </button>
          </div>



          
          <div class="row">
            <form>
        
                <div class="alert alert-success data__" style="display: none" role="alert">
                    <h4 class="pricing-header pb-md-4 mx-auto text-center">
                      IDENTITAS USER   
                    </h4>
                    <p></p>
                    <hr>
                    <p class="pricing-header mx-auto text-center">
                        <!-- <div class="container"> -->
                          <div class="row">                        
                            <div class="col">
                              <input type="text" class="form-control" disabled id="fn" placeholder="First name" required="">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" disabled id="ln" placeholder="Last name" required="">
                            </div>
                          </div>
                          <div class="row" style="margin-top: +15px">
                            <div class="col">
                              <input type="text" class="form-control" disabled id="sc" placeholder="School" required="">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" disabled id="ag" placeholder="Age" required="">
                            </div>
                          </div>
                          <div class="row" style="margin-top: +15px">
                            <div class="col">
                              <input type="text" class="form-control" disabled id="wg" placeholder="Weight"
                                required="">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" disabled id="hg" placeholder="Height"
                                required="">
                            </div>
                          </div>
                        <!-- </div> -->
                    </p>
                </div>


                <div class="container text-center data__" style="display: none">
                    <div class="row">

                      <div class="col">
                          <p class="lead">Servis Atas</p>
                          <h1 class="display-4" id="s1">00</h1>
                      </div>
                      <div class="col">
                          <p class="lead">Servis Bawah</p>
                          <h1 class="display-4" id="s2">00</h1>
                      </div>
                      
                      <div class="w-100"></div>
                      <div class="container-fluid" style="margin-top: +10px"></div>

                      <div class="col">
                          <p class="lead">Pasing Atas</p>
                          <h1 class="display-4" id="s3">00</h1>
                      </div>
                      <div class="col">
                          <p class="lead">Pasing Bawah</p>
                          <h1 class="display-4" id="s4">00</h1>
                      </div>
                      
                      <div class="w-100"></div>
                      <div class="container-fluid" style="margin-top: +10px"></div>

                      <div class="col">
                          <p class="lead">Smash</p>
                          <h1 class="display-4" id="s5">00</h1>
                      </div>
                      <div class="col">
                          <p class="lead">Block</p>
                          <h1 class="display-4" id="s6">00</h1>
                      </div>

                      <!-- <div class="w-100"></div>
                      <div class="container-fluid" style="margin-top: +10px"></div>

                      <div class="col">
                          <button id="add_data" type="button" class="btn btn-primary">Main Menu</button>
                      </div> -->

                      </div>
                </div>
            </form>
          </div>

          <div class="row">
            <table class="table table-striped" id="table_data">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Users</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>



    </div>
    <!-- <input type="text"  id="name" placeholder="name"/>
    <br/>
    <button id=" count_up" type="button" class="btn btn-outline-primary">Count Up</button>
    <br/>
    <span id="txt"> *** </span> -->
    <br/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>


    <script>
        var arr = window.location.href.split("/");
        var result = arr[0] + "//" + arr[2];

        // var socket = io.connect(window.location.hostname);
        var socket = io.connect(window.location.origin);
        let is_start = false;
        let state = 0;
        train_data = []


        socket_service();

        function socket_service() {
            socket.emit('connection', 'a user connected');

            socket.on('message', function (data) {
                console.log(data)
            });

            socket.emit('disconnect', 'a user disconnected');
        }


        socket.on('add_point', function (data) {
            $("#txt").text(`${data.name} :: ${data.point}`)
        });


        socket.on('sens_data', function (data) {
          // console.log(data);
          if(data.type == "res"){
            if(data.state == 1){
              train_data[0] = data.val;              
            }if(data.state == 2){
              train_data[1] = data.val;
            }if(data.state == 3){
              train_data[2] = data.val;
            }if(data.state == 4){
              train_data[3] = data.val;
            }if(data.state == 5){
              train_data[4] = data.val;
            }if(data.state == 6){
              train_data[5] = data.val;
            }

            $("#s"+data.state).text(data.val);
          }          
        });
        

        if(is_start == false){
          $("#step_up").text("START");
          $("#step_down").hide();
        }
        
        $("#step_up").click(function(){
          is_start = true;
          $("#step_down").show();
          $("#step_up").text("NEXT");
          
          state++;

          dt = {
            type : "req",
            state : state,
            // val : for res
          }
          socket.emit('sens_data', dt);
          
        });


        $("#step_down").click(function () {
          // if(train_data.length == 6){
            dt = {
              data_train : {
                "servis_atas": train_data[0],
                "servis_bawah": train_data[1],
                "passing_atas": train_data[2],
                "passing_bawah": train_data[3],
                "smash": train_data[4],
                "block": train_data[5],
              },
              data_user:{
                First_name: $("#fn").val(),
                Last_name: $("#ln").val(),
                Asal_Sekolah: $("#sc").val(),
                Umur: $("#ag").val(),
                Berat_Badan: $("#wg").val(),
                Tinggi_Badan: $("#hg").val()
              }
            }
          // }
          //post data to fs
        })


        $("#open_form").click(function(){
          form_swal()
        })

        function form_swal(){
          html = `
          <form>
              <div class="container">
                <div class="row">

                    <div class="col">
                        <input type="text" class="form-control" name="First_name" id="First_name" placeholder="First name" required="">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="Last_name" id="Last_name" placeholder="Last name" required="">
                    </div>

                    <div class="w-100"></div>
                    <div class="container-fluid" style="margin-top: +10px"></div>

                    <div class="col">
                        <input type="text" class="form-control" name="Asal_Sekolah" id="Asal_Sekolah" placeholder="Asal Sekolah" aria-describedby="inputGroupPrepend2" required="">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="Umur" id="Umur" placeholder="Umur" required="">
                    </div>

                    <div class="w-100"></div>
                    <div class="container-fluid" style="margin-top: +10px"></div>

                    <div class="col">
                          <input type="number" class="form-control" name="Tinggi_Badan" id="Tinggi_Badan" placeholder="Tinggi Badan" required="">
                    </div>
                    <div class="col">
                          <input type="number" class="form-control" name="Berat_Badan" id="Berat_Badan" placeholder="Berat Badan" required="">
                    </div>

                    <div class="w-100"></div>
                    <div class="container-fluid" style="margin-top: +10px"></div>
                    
                    
                    </div>
                </div>

                <div class="container-fluid" style="margin-top: +20px"></div>   
                <div class="col">
                  <button type="button" class="btn btn-outline-success add_data">SUBMIT</button>
                </div>

            </form>
          `;
          
          Swal.fire({
            // title: '<strong>HTML <u>example</u></strong>',
            // type: 'info',
            html: html,
            showCloseButton: true,
            showCancelButton: false,
            showConfirmButton: false,
          })
        }
              
        a = 0;
        $(document).on("click", ".add_data",function(){//id # class .

            fn = $("#First_name").val();
            ln = $("#Last_name").val();
            ass = $("#Asal_Sekolah").val();
            u = $("#Umur").val();
            tb = $("#Tinggi_Badan").val();
            bb = $("#Berat_Badan").val();

            dt = {
              "First_name": fn,
              "Last_name": ln,
              "Asal_Sekolah": ass,
              "Umur": u,
              "Tinggi_Badan": tb,
              "Berat_Badan": bb
            }

            // console.log(dt)
            $.post("/api/add_point", dt, function(res){
                if(res.key){

                  const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                  });

                  Toast.fire({
                    type: 'success',
                    title: 'Stored in successfully'
                  })

                  get_dt_by_key(res.key)
                }
            })
            
        });



        function get_dt_by_key(k){
          $.get(`/api/get_point_data_by_key/${k}`).done(function(res){
            $(".data__").show().attr("key", res.key);
            $("#open_form").hide();

            $("#fn").val(res.First_name);
            $("#ln").val(res.Last_name);
            $("#sc").val(res.Asal_Sekolah);
            $("#ag").val(res.Umur);
            $("#wg").val(res.Berat_Badan);
            $("#hg").val(res.Tinggi_Badan);

            get_all_data();
            
          })
        }


        get_all_data();
        let id = 1;

        function get_all_data(){
          $.get(`/api/get_point_data`).done(function (res) {
              $("#table_data tbody").empty();
              res.forEach((v)=>{
                let el = `
                  <tr>
                    <th scope="row">${id}</th>
                    <td>
                      <b>${v.data.First_name} ${v.data.Last_name}</b><br/>
                      ${v.data.Umur} Years Old <br/>
                      ${v.data.Berat_Badan} Kg / ${v.data.Tinggi_Badan} cm  
                    </td>
                    <td>
                      <span>State 1 = 10 </span><br/>
                      <span>State 2 = 10 </span><br/>
                      <span>State 3 = 10 </span><br/>
                    </td>
                  </tr>
                `;
                $("#table_data tbody").append(el);
                id++;
              })
          })
        }

          
    </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
